.nav {
    padding: 0 88px;
    .menu a {
        font-size: $h5-font-size;
        padding: 39px 32px 26px 32px;
        &:after {
            content: '';
            display: block;
            width: 0%;
            height: 3px;
            margin: 5px 0;
            background-color: white;
        }

        &:hover:after {
            width: 100%;
        }
    }

    .menu li.active a:after {
        width: 100%;
    }

    @include tablet {
        padding: 0 39px;
        .menu a {
            padding: 39px 20px 26px 20px;
        }
    }

    @include mobile {
        padding: 0px;
        .logo {
            padding: 10px 0;
            img {
                width: 48px;
            }
        }
        .menu a {
            padding: 8px 0;
            text-align: center;
            border: 1px solid white;
            
            &:after {
                height: 0;
                margin: 0;
            }
        }
    }
}