.container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    @include tablet {
        padding-right: 39px;
        padding-left: 39px;
    }

    @include mobile {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@each $color, $value in $theme-colors {
    .bg-#{$color} {
        background: $value;
    }
    
    .text-#{$color} {
        color: $value;
    }
}

.page-title {
    font-size: $h2-font-size;
    padding-left: $spacer;
    border-left: 8px solid $primary;
    font-weight: bold;
    margin-bottom: $spacer*3.75;

    @include tablet {
        margin-bottom: $spacer*2.5;
    }

    @include mobile {
        font-size: $font-size-base*1.75;
        margin-bottom: $spacer*1.5;
    }
}

@import "header";
@import "footer";



