

.index-banner {
    background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png) no-repeat center;
    background-size: cover;
    height: 840px;

    @include tablet {
        h1 {
            font-size: $h2-font-size;
        }

        h3 {
            font-size: $h5-font-size;
        }
    }

    @include mobile {
        height: 394px;

        h1 {
            font-size: $font-size-lg;
        }

        h3 {
            font-size: $font-size-base;
        }
    }
}

.promise {
    background-color: #FBF2F2;
}

.promise,
.classic {
    padding: $spacer*3.75 0 $spacer*5 0;

    @include tablet {
        padding: $spacer*2.5 0 $spacer*3.5 0;
        h2 {
            font-size: $font-size-lg;
        }
    }

    @include mobile {
        padding: $spacer*2 0 $spacer*2.5 0;
        h2 {
            font-size: $h4-font-size;
        }
    }
}

.promise-item {
    width: 25%;
    text-align: center;
    padding: 0 15px;

    img {
        width: 100px;
        height: 100px;
        margin-bottom: $spacer;
    }

    h5 {
        font-size: $h4-font-size;
        color: $primary-dark;
        font-weight: bold;
        margin-bottom: $spacer*0.5;
    }

    p {
        text-align: left;
        font-size: $font-size-base;
    }

    @include tablet {
        width: 50%;
        padding: 0 $spacer*3;
    }

    @include mobile {
        width: 100%;
        padding: 0 45px;
    }
}

.classic-item {
    .image {
        width: 65%;
        margin-right: 30px;
    }

    .title {
        img {
            width: 48px;
            height: 48px;
        }

        h3 {
            font-size: $h2-font-size;
        }
    }

    &:nth-child(2n) {
        .image {
            margin-right: 0;
        }

        .title {
            margin-right: 30px;
        }
    }
    

    @include tablet {
        .image {
            width: 55%;
        }

        .title {
            img {
                width: 40px;
                height: 40px;
            }
    
            h3 {
                font-size: $font-size-md;
            }
        }

        &:nth-child(2n) {
            .image {
                margin-right: 30px;
            }

            .title {
                margin-right: 0;
            }
        }
    }

    @include mobile {
        .image {
            width: 100%;
            margin-right: 0;
        }

        .title {
            position: absolute;
        }

        &:nth-child(2n) {
            .image {
                margin-right: 0;
            }
        }
    }
}