*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.5;
    color: #0A0A0A;
}

@include mobile {
    body {
        font-size: $font-size-sm;
    }

    header {
        position: fixed;
        width: 100%;
    }

    main {
        padding-top: 145px;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


a {
    display: block;
    text-decoration: none;
    color: inherit;
}

@each $key, $font-size in $font-sizes {
    h#{$key}, .h#{$key} {
        font-size: $font-size;
    }
}

