*, *:befor, *:after  {
	box-sizing: border-box;
}

body {
    font-family: $font-family-base;
    line-height: 1.5;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}